body {
    background-color: #080808;
  }
.sub-container {
    height: 980px;
    width: 1200px;
    /* border: 1px solid red; */
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    background-color: #16033d;

}

.group1 {
    height: 60px;
    width: 1150px;
    /* border: 1px solid red; */
    position: absolute;
    margin: 5px 5px;
    background-color: rgb(16, 16, 90);
}

.group1 ul li {
    list-style: none;
    float: right;
    margin: 5px;
}

.group1 ul {
    margin-right: 20px;
    margin-top: 8px;
}

.group1 ul button {
    height: 25px;
    width: 80px;
    padding: 2px;
    font-weight: bold;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

.group1 .inner-group {
    position: absolute;
    margin-left: 600px;
}

.group1 .inner-group #date, #dropdown {
    height: 20px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(16, 16, 90);
    margin: 5px;
    border: 1px solid white;
    font-family: 'Times New Roman', Times, serif;
}

.group1 h1 {
    position: absolute;
    color: white;
    font-family:sans-serif;
    font-size: 30px;
    margin-left: 100px;
}

.group1 .icon {
    position: absolute;
    margin-left: 5px;
}

.group2 {
    height: 102px;
    width: 1188px;
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 80px;
    margin-left: 5px;
}

.group2 .box1, .box2, .box3 {
    height: 100px;
    width: 360px;
    background-color: rgb(16, 16, 90);
    float: left;
    margin-right: 35px;
}

.group2 .box1 ul li {
    list-style: none;
    color: white;
    float: left;
    margin: 20px;
}

.group2 .box1 ul {
    margin-top: 10px;
}

.group2 .box2 ul {
    list-style: none;
    color: white;
    margin: 5px;
    position: absolute;
}

.group2 .box2 #ul2 {
    position: absolute;
    margin-left: 250px;
}

.group2 .box3 ul {
    list-style: none;
    color: white;
    position: absolute;
    margin: 5px;
}

.group2 .box3 #ul2 {
    position: absolute;
    margin-left:240px;
}

.group3 {
    height: 150px;
    width: 1189px;
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 190px;
    margin-left: 5px;
}

.group3 #box1, #box2, #box3 {
    height: 148px;
    width: 360px;
    background-color: rgb(16, 16, 90);
    float: left;
    margin-right: 35px;
}

.group3 #box1 h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
}

.group3 #box1 ul {
    list-style: none;
    color: white;
    font-size: 14px;
    position: absolute;
}

.group3 #box1 #ul2 {
    position: absolute;
    margin-left: 250px;
}

.group3 #box2 h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
}

.group3 #box2 ul {
    list-style: none;
    color: white;
    font-size: 14px;
    position: absolute;
}

.group3 #box2 #ul2 {
    position: absolute;
    margin-left: 250px;
}

.group3 #box3 h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
}

.group3 #box3 ul {
    list-style: none;
    color: white;
    font-size: 14px;
    position: absolute;
}

.group3 #box3 #ul2 {
    position: absolute;
    margin-left: 250px;
}

.group4 {
    height: 150px;
    width: 1189px;
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 350px;
    margin-left: 5px;
}

.group4 #box4, #box5, #box6 {
    height: 148px;
    width: 360px;
    background-color: rgb(16, 16, 90);
    float: left;
    margin-right: 35px;
}

.group4 #box4 h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
}

.group4 #box4 ul {
    list-style: none;
    color: white;
    font-size: 14px;
    position: absolute;
}

.group4 #box4 #ul2 {
    position: absolute;
    margin-left: 250px;
}

.group4 #box5 h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
}

.group4 #box5 ul {
    list-style: none;
    color: white;
    font-size: 14px;
    position: absolute;
}

.group4 #box5 #ul2 {
    position: absolute;
    margin-left: 250px;
}

.group4 #box6 h1 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
}

.group4 #box6 ul {
    list-style: none;
    color: white;
    font-size: 14px;
    position: absolute;
}

.group4 #box6 #ul2 {
    position: absolute;
    margin-left: 250px;
}

.group5 {
    height: 450px;
    width: 1150px;
    /* border: 1px solid red; */
    position: absolute;
    margin-top: 510px;
    margin-left: 5px;
    background-color: rgb(16, 16, 90);

}
